<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
</head>

<body>
    <div id="app" class="p-5">
        <div v-if="isLoading" class="loading-container">
            Cargando...
        </div>

        <div class="mb-5 scrollable-tags">Facets
            <div v-for="facetInfo in facetCounts" :key="facetInfo.facet">
                <button @click="toggleVisibility(facetInfo.facet)">
                    {{ visibleFacets[facetInfo.facet] ? 'Ocultar ' + facetInfo.facet : 'Mostrar ' + facetInfo.facet }}
                </button>
                <div v-if="visibleFacets[facetInfo.facet]">
                    <h3>{{ facetInfo.facet }}</h3>
                    <span v-for="valueInfo in facetInfo.values" :key="valueInfo.value"
                        :class="{'bg-blue-500 text-white': activeFacets[facetInfo.facet] && activeFacets[facetInfo.facet][valueInfo.value], 'bg-gray-200 text-gray-700': !(activeFacets[facetInfo.facet] && activeFacets[facetInfo.facet][valueInfo.value])}"
                        class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 cursor-pointer"
                        @click="toggleFacet(facetInfo.facet, valueInfo.value)">
                        {{ valueInfo.value }} ({{ valueInfo.count }})
                    </span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div v-for="item in filteredItems" :key="item.ID" class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="aspect-ratio-16-9">
                    <img :src="item.IMAGE" alt="Thumbnail" class="cursor-pointer" @click="showModal(item)">
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">
                        <a href="#" class="text-blue-700 hover:text-blue-900" @click.prevent="showModal(item)">
                            {{ item.TITLE }}
                        </a>
                    </div>
                    <p>{{ trimDescription(item.DESCRIPTION) }}</p>
                    <div class="mt-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                            v-for="tag in item.TAGS.split(',')" :key="tag">{{ tag }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="selectedItem" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
            @click.self="selectedItem = null">
            <div class="relative top-20 mx-auto p-5 border w-3/4 shadow-lg rounded-md bg-white">
                <div class="responsive-iframe-container" v-html="selectedItem.CONTENT">
                </div>
                <div class="mt-3 text-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        @click="selectedItem = null">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                items: [],
                selectedItem: null,
                visibleFacets: {}, // Objeto para controlar la visibilidad de cada facet
                activeFacets: {},
                isLoading: true,
                config: {}
            },
            methods: {
                showModal(item) {
                    this.selectedItem = item;
                },
                trimDescription(description) {
                    return description.length > this.config.descriptionLength ? description.substr(0, this.config.descriptionLength) + '...' : description;
                },
                toggleVisibility(facetName) {
                    if (!this.visibleFacets[facetName]) {
                        this.$set(this.visibleFacets, facetName, true);
                    } else {
                        this.visibleFacets[facetName] = !this.visibleFacets[facetName];
                    }
                },
                toggleFacet(facetName, value) {
                    if (!this.activeFacets[facetName]) {
                        this.$set(this.activeFacets, facetName, {});
                    }
                    if (this.activeFacets[facetName][value]) {
                        this.$delete(this.activeFacets[facetName], value);
                    } else {
                        this.$set(this.activeFacets[facetName], value, true);
                    }
                },
                parseFacets(facetsString, tagsString) {
                    let facets = facetsString;
                    if (!facets || facets.trim() === '') {
                        facets = tagsString;
                    }
                    return facets ? facets.split(',').map(facet => facet.trim()).filter(facet => facet !== "") : [];
                },
            },
            computed: {
                facetCounts() {
                    const facetValues = {};
                    this.items.forEach(item => {
                        this.config.activeFacets.forEach(facetName => {
                            // Dividir los valores por comas y filtrar los no deseados
                            const values = item[facetName].split(',').map(value => value.trim()).filter(value => value !== "");

                            values.forEach(value => {
                                if (!facetValues[facetName]) {
                                    facetValues[facetName] = {};
                                }
                                if (!facetValues[facetName][value]) {
                                    facetValues[facetName][value] = 0;
                                }
                                facetValues[facetName][value]++;
                            });
                        });
                    });

                    // Convertir el objeto facetValues en un array más manejable para el v-for
                    const result = [];
                    Object.keys(facetValues).forEach(facetName => {
                        const facets = Object.keys(facetValues[facetName]).map(value => ({
                            value: value,
                            count: facetValues[facetName][value]
                        }));
                        facets.sort((a, b) => b.count - a.count); // Ordenar por número de ocurrencias
                        result.push({
                            facet: facetName,
                            values: facets
                        });
                    });
                    return result;
                },
                filteredItems() {
                    if (!this.items || this.items.length === 0) {
                        return []; // Asegura que items esté definido y no está vacío
                    }
                    if (Object.keys(this.activeFacets).length === 0) {
                        return this.items; // Si no hay facetas activas, muestra todos los items
                    }
                    return this.items.filter(item => {
                        return Object.keys(this.activeFacets).every(facetName => {
                            if (!item[facetName]) return false; // Si el item no tiene este campo de faceta, no incluir
                            const itemFacetValues = item[facetName].split(',').map(value => value.trim());
                            const activeFacetValues = this.activeFacets[facetName];
                            return itemFacetValues.some(value => activeFacetValues && activeFacetValues[value]);
                        });
                    });
                }
            },
            mounted() {
                this.isLoading = true;
                fetch('config.yaml')
                    .then(response => response.text())
                    .then(yaml => {
                        this.config = jsyaml.load(yaml);
                        fetch(this.config.dataSourceUrl.trim())
                            .then(response => response.text())
                            .then(csvData => {
                                Papa.parse(csvData, {
                                    header: true,
                                    skipEmptyLines: true,
                                    complete: (results) => {
                                        this.items = results.data;
                                        this.isLoading = false;
                                    }
                                });
                            });
                    });
            }
        });
    </script>
</body>

</html>